<?xml version="1.0" encoding="UTF-8" ?>
<project version="4">
	<component name="PhpProjectSharedConfiguration" php_language_level="7.1" />
</project>
<phpunit
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		verbose="true">
	<php>
		<ini name="display_errors" value="stderr" />
		<ini name="error_log" value="/dev/null" />
	</php>
	<testsuites>
		<testsuite name="Unit tests">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
