<?xml version="1.0"?>
<!--
    /**
    * Copyright © 2016 CardGate.
    * All rights reserved.
    * See LICENSE.txt for license details.
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cardgate>
            <global>
                <model>Cardgate\Payment\Model\PaymentMethods</model>
                <debug>1</debug>
                <active>0</active>
                <testmode>1</testmode>
                <gateway_locale>nl_NL</gateway_locale>
                <order_description>Order %id%</order_description>
                <notification_email>general</notification_email>
                <initialized_status>pending</initialized_status>
                <complete_status>processing</complete_status>
                <waitconf_status>pending_payment</waitconf_status>
                <failed_status>canceled</failed_status>
                <fraud_status>fraud</fraud_status>
                <use_backoffice_urls>0</use_backoffice_urls>
                <orderemail_at_payment>1</orderemail_at_payment>
                <autocreate_invoice>1</autocreate_invoice>
                <mail_invoice>1</mail_invoice>
                <event_invoicing_failed>0</event_invoicing_failed>
            </global>
        </cardgate>
    </default>
</config>
