<?xml version="1.0"?>
<!--
	Copyright (c) 2018 CardGate B.V.
	All rights reserved.
	See LICENSE for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="cardgate" frontName="cardgate">
			<module name="Cardgate_Payment" />
		</route>
	</router>
</config>
