<?xml version="1.0"?>
<!--
	/**
	* Copyright © 2016 CardGate.
	* All rights reserved.
	* See LICENSE.txt for license details.
	*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="cardgate" translate="label" type="text" sortOrder="410" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>CardGate</label>
			<tab>sales</tab>
			<resource>Cardgate_Payment::cardgate_menu</resource>
			<group id="info" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<frontend_model>Cardgate\Payment\Block\Adminhtml\Config\GroupInfo</frontend_model>
				<comment>Module information and test Gateway communication.</comment>
				<help_url>https://www.cardgate.com/hulp/</help_url>
				<label>CardGate information</label>
				<group id="test" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Info and test</label>
					<comment>Test settings</comment>
					<field id="version" translate="label" type="note" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Version</label>
						<frontend_model>Cardgate\Payment\Block\Adminhtml\Config\Version</frontend_model>
					</field>
					<field id="testgateway" translate="label" type="note" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Test Gateway communication</label>
						<frontend_model>Cardgate\Payment\Block\Adminhtml\Config\TestGateway</frontend_model>
					</field>
				</group>
				<group id="pms" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Paymentmethods</label>
					<comment>Manage paymentmethods</comment>
					<field id="showpm" translate="label" type="note" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Currently active paymentmethods</label>
						<frontend_model>Cardgate\Payment\Block\Adminhtml\Config\ShowPM</frontend_model>
					</field>
					<field id="fetchpm" translate="label" type="note" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Refresh active paymentmethods</label>
						<frontend_model>Cardgate\Payment\Block\Adminhtml\Config\FetchPM</frontend_model>
					</field>
				</group>
			</group>
			<group id="global" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<frontend_model>Cardgate\Payment\Block\Adminhtml\Config\GroupGlobal</frontend_model>
				<comment>Manage CardGate settings.</comment>
				<help_url>https://www.cardgate.com/aanmelden/</help_url>
				<label>CardGate configuration</label>
				<field id="testmode" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>CardGate testmode</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[Switching between test and live mode.]]></comment>
				</field>
				<field id="site_id" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Site Id</label>
					<frontend_model>Cardgate\Payment\Block\Adminhtml\Config\MandatoryField</frontend_model>
				</field>
				<field id="site_key" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Hash key</label>
					<frontend_model>Cardgate\Payment\Block\Adminhtml\Config\MandatoryField</frontend_model>
					<comment><![CDATA[The hash key as configured in the CardGate backoffice for the site.]]></comment>
				</field>
				<field id="api_username" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Id</label>
					<frontend_model>Cardgate\Payment\Block\Adminhtml\Config\MandatoryField</frontend_model>
				</field>
				<field id="api_password" translate="label" type="obscure" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>API key</label>
					<frontend_model>Cardgate\Payment\Block\Adminhtml\Config\MandatoryField</frontend_model>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
				<field id="notification_email" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1"
					showInStore="1">
					<label>Notifications recipient</label>
					<source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
					<comment><![CDATA[Receiver of all notification messages.]]></comment>
				</field>
				<field id="order_description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
					showInStore="1">
					<label>Order description</label>
					<comment><![CDATA[Payment description that will be shown to the customer in the gateway screen. <br />Variables: <b>%id%</b> = Order ID]]></comment>
				</field>

				<field id="paymentfee_includes_tax" translate="label comment" type="select" sortOrder="50" showInDefault="1"
					showInWebsite="1" showInStore="0">
					<label>Payment fees tax</label>
					<comment><![CDATA[This sets whether CardGate Payment fees entered from Magento Admin include tax.]]></comment>
					<source_model>Magento\Tax\Model\System\Config\Source\PriceType</source_model>
				</field>
				<field id="paymentfee_tax_class" translate="label" type="select" sortOrder="51" showInDefault="1" showInWebsite="0"
					showInStore="0">
					<label>Tax Class for CardGate Payment fees</label>
					<source_model>Magento\Tax\Model\TaxClass\Source\Product</source_model>
				</field>
			</group>
		</section>
		<include path="Cardgate_Payment::system/paymentmethod.xml" />
	</system>
</config>
